lex.backup
grammar.c
grammar.h
z80lex.c
*.output


# Object files
*.o
*.ko
*.obj
*.elf

*.sdf
*.opendf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.elf
*.bin
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.launch

# Directories
.settings/
libs/
obj/
bin/
Debug/
.vs/